.navigation__bar {
  box-sizing: border-box;
  padding: 0 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation__bar ul {
  padding: 0;
  list-style-type: none;
}
.navigation__bar ul a {
  transition: all 200ms;
  padding: 0 0.5rem;
  color: #464646;
}
.navigation__bar ul a:hover {
  color: #000;
}
