@use '../abstracts/index' as *;

@mixin container-row {
  box-sizing: border-box;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin links-horizontal {
  padding: 0;
  list-style-type: none;
  
  a {
    transition: all 200ms;
    padding: 0 .5rem;
    color: $linkcolor;

    &:hover {color: $linkcolor-hover;}
  }
}